<!-- css 파일 적용 하는 코드 -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<h2>{{ question.subject }}</h2>

<div>
    {{ question.content }}
</div>
<br>

<h5>{{ question.answer_set.count }} 개의 답변이 존재합니다.</h5>
<div>
    <ul>
        {% for answer in question.answer_set.all %}
            <li>{{ answer.content }}</li>
        {% endfor %}
    </ul>
</div>
<div>
    [답변을 입력 해주세요]
</div>
<form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea> <!-- name 값으로 추출 -->
    <input type="submit" value="답변 등록">
</form>
